@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.app {
  text-align: center;
  margin: 20px;
}

.header h1 {
  text-align: left;
  padding-left: 10px;
  font-size: 4em;
  
}

.header p {
  font: size 1px;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 2em;
  font-style: italic;
  cursor: pointer;
}

.cards-container {
  display: flex;
  gap: 200px;
}